<h3>Answer the challenge question below</h3>

<%= form_tag([:authenticate, resource_name, :challenge_question], :method => :put) do %>
  <fieldset>
    <p>
      <%= hidden_field_tag :challenge_question_id, @challenge_question.id%>
      <%= label_tag :challege_question, @challenge_question.challenge_question %>
      <br>
      <%= password_field_tag :challenge_answer, nil, :placeholder => 'Answer', :class => 'wide', :style => 'font-size: 1.8em;padding:5px', :autofocus => 'true', :autocomplete => "off" %>
    </p>
    <p>
      <%= submit_tag "Submit", :style => 'margin-left: 40%;font-size:1.8em;' %>
    </p>
    <p>
      <%= link_to "Log out", destroy_user_session_path %>
      <br />
      <%= link_to "Forgot your challenge questions?", new_challenge_question_path(resource_name) %>
    </p>
  </fieldset>
<% end %>