<h3>Answer the challenge question below</h3>

<%= form_tag([resource_name, :challenge_question], :method => :put) do %>
  <p>
    <%= hidden_field_tag :challenge_question_id, @challenge_question.id%>
    <%= label_tag :question, @challenge_question.question %>
    <br>
    <%= text_field_tag :answer, nil, :placeholder => 'Answer', :class => 'wide', :style => 'font-size: 1.8em;padding:5px', :autofocus => 'true', :autocomplete => "off" %>
  </p>
  <p>
    <%= submit_tag "Submit", :style => 'margin-left: 40%;font-size:1.8em;' %>
  </p>
  <p>
    <%= link_to "Sign out", destroy_user_session_path, :method => :delete %>
  </p>
<% end %>